<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/static/css/site.css' type="text/css" />
</head>
<body>
  <h1>Input emails to sort, separated by comma</h1>
  <div class='form-container'>
    <% include ./partials/form.ejs %>
  </div>
  <div class='render-container'>
    <% include ./partials/render.ejs %>
  </div>
</body>
</html>